<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Riwayat Kesehatan</title>

</head>
<body>
    <div class="sidebar">
        <div class="brand">
          <i class="fa-solid fa-qrcode"></i>&nbsp;&nbsp;
          <h1>MENU</h1>&nbsp;&nbsp;
        </div>
        <ul>
         <li><i class="fa-solid fa-gauge"></i>&nbsp;&nbsp;&nbsp;<a href="index.html">Dashboard</a></li>
         <li><i class="fa-solid fa-chalkboard-user"></i>&nbsp;&nbsp;<a href="pengurus.html">Data Pengurus</a></li>
         <li><i class="fa-sharp fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<a href="anak.html">Data Anak</a></li>    
         <li><i class="fa-solid fa-people-group"></i>&nbsp;&nbsp;<a href="adopsi.html">Data Adopsi</a></li>
         <li><i class="fa-solid fa-person"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="donatur.html">Data Donatur</a></li>
         <li><i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;&nbsp;<a href="sumbangan.html">Data Sumbangan</a></li>
        </ul>
      </div>
      
      <div class="container">
        <div class="header">
          <div class="nav">
            <img src="../assets/logo.png">
            <h1>Panti Yatim Al-Amanah</h1>
          </div>
        </div>
     
        <div class="content">
          <div class="menu">
     
             <h1>DATA RIWAYAT KESEHATAN</h1>
            <table>
              <thead>
              <tr>
                <th>ID Kes.</th>
                <th>ID Anak</th>
                <th>Tanggal Pemeriksaan</th>
                <th>Hasil Pemeriksaan</th>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>
            </table>
          </div>
        </div>
      </div>
      <script src="../js/rikes.js"></script>
    </div>
    
</body>
</html>